body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0%;
}

#header{
    width: 100%;
    background-color: rgb(241, 91, 91);
    height: 200px;

}
.logo{
    width: 100px;
    height: auto;
    display: block;
}